<div class="content" role="main">
  <form (ngSubmit)="go()" #miFormulario="ngForm" autocomplete="off">
  
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>String 1</mat-label>
            <input matInput name="string1" [(ngModel)]="initForm.string1" required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>String 2</mat-label>
            <input matInput name="string2" [(ngModel)]="initForm.string2" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <button mat-button color="primary" type="submit" [disabled]="miFormulario.invalid">Go!</button>
        </td>
        <td>
          <button mat-button color="primary" (click)="reset()">Reset</button>
        </td>
      </tr>
    </table>
      <p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Output 1</mat-label>
            <input matInput disabled name="output1" [(ngModel)]="initForm.output1"  >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Output 2</mat-label>
            <input matInput disabled name="output2" [(ngModel)]="initForm.output2" >
          </mat-form-field>
        </td>
      </tr>
    </table>
    
  </form>


</div>

<router-outlet></router-outlet>
